<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="IsoGame">
    <meta name="author" content="Elementium - Dorian Guilmain">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <!-- @@var actual_title -->
    </title>
    <!-- inject:css -->
    <!-- endinject -->
</head>

<body class="container">
    <div class="body">      
        <!-- @@placeholder = content -->
    </div>
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <!-- inject:js -->
    <!-- endinject -->
</body>

</html>