
<div class="view" id="game-interface">
    <div class="grid-wrapper">
        <div class="floor">
            <div id="gamegrid_shadow"></div>
            <div id="gamegrid"></div>
            <div id="movementgrid"></div>
            <div id="players"></div>
        </div>
    </div>
</div>

<div class="view" id="character-selection-interface">
    <div class="character-choice-wrapper">
        <div class="character-choice-cards" id="character-selection-interface-wrapper">
        </div>
        <div class="character-choice-validation"  id="character-selection-interface-validation">Valider la sélection</div>
    </div>
</div>

<div class="view" id="homemenu-interface">
    <div class="homemenu">
        <h1 class="homemenu__title">
            <span>the gaun</span><span>tlet</span>
        </h1>
        <div class="homemenu__start" id="homemenu-interface-validation">
            Nouvelle Partie
        </div>
    </div>
</div>

