
<div class="view" id="game-interface">
    <div class="grid-wrapper">
        <div class="floor">
            <div id="gamegrid_shadow"></div>
            <div id="gamegrid"></div>
            <div id="movementgrid"></div>
            <div id="players"></div>
        </div>
    </div>
    
    <div class="players-cards" id="game-players-cards"></div>
    
    <div class="game-bar" id="game-bar">
        <div class="game-bar__player-name" id="game-bar__player-name">
            Player Name
        </div>
        <div class="game-bar__controls">
            <span class="game-bar__controls__button" id="game-bar__controls__button--attack"><i class="fas fa-bolt fa-fw"></i> Attaquer</span>
            <span class="game-bar__controls__button" id="game-bar__controls__button--defense"><i class="fas fa-shield-alt fa-fw"></i> Se défendre</span>
            <span class="game-bar__controls__button" id="game-bar__controls__button--turn"><i class="fas fa-redo-alt fa-fw"></i> Passer mon tour</span>
        </div>
    </div>

    <div id="game-fight-indicator">
        Duel
    </div>
</div>

<div class="view" id="pattern-selection-interface">
    <div class="pattern-choice-wrapper">
        <h1 class="pattern-choice-cards-title">Séléctionnez le type de carte</h1>
        <div class="pattern-choice-cards" id="pattern-selection-interface-wrapper">
        </div>
        <div class="character-choice-validation"  id="pattern-selection-interface-validation">Valider la sélection</div>
    </div>
</div>

<div class="view" id="character-selection-interface">
    <div class="character-choice-wrapper">
        <h1 class="character-choice-cards-title">Séléctionnez vos personnages</h1>
        <div class="character-choice-cards" id="character-selection-interface-wrapper">
        </div>
        <div class="character-choice-validation"  id="character-selection-interface-validation">Valider la sélection</div>
    </div>
</div>

<div class="view" id="homemenu-interface">
    <div class="homemenu">
        <h1 class="homemenu__title">
            <span>the gaun</span><span>tlet</span>
        </h1>
        <div class="homemenu__start" id="homemenu-interface-validation">
            Nouvelle Partie
        </div>
    </div>
</div>

