<div class="players-info">
    <div class="players-info__wrapper players-info__wrapper--player1"></div>
</div>
<div class="wrapper">
    <div class="floor">
        <div id="gamegrid_shadow"></div>
        <div id="gamegrid"></div>
        <div id="players">
        </div>
    </div>
</div>