@import url('https://fonts.googleapis.com/css?family=Leckerli+One|Montserrat:500|Roboto');

$color-primary: #4CAF50;
$color-back: #dfdbe5;

$color-table: #9D7552;
$color-table-inside: #563217;
$color-table-inside-border: #6f4829;
$color-table-stroke: #333333;

// Grid Sizes
$tile-size: 48;
$tile-number: 12;
$tile-spacing: 12;

$max-size: $tile-size * $tile-number;
$grid-size: $max-size + 0px;

$grid-tile-size: $tile-size + 0px;
$grid-tile-block-size: (($tile-size * 2) + $tile-spacing) + 0px;
$grid-tile-gameitem-size: (($tile-size * 1) + $tile-spacing) + 0px;

$grid-shadow-size: ($max-size * 1.1) + 0px;
$grid-shadow-position: ($max-size / 3.5) + 0px;
$grid-shadow-length: (($max-size / 2) / 4) + 0px;
$grid-shadow-blur: (($max-size / 2) / 6) + 0px;

html {
  font-size: 10px;
  color: #ccc;
  background: $color-back;
}

body {
  padding: 0; margin: 0; 
  font-family: 'Roboto', sans-serif;
  font-family: monospace;
  font-size: 13pt;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  position: absolute;
  width: $grid-size;
  height: $grid-size;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.floor {
  position: relative;
  transform: rotateX(55deg) rotateZ(45deg);
  font-size: 0;
}

.floor .gamegrid__item {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: $grid-tile-size;
  height: $grid-tile-size;
  line-height: $grid-tile-size;
  text-align: center;
  vertical-align: top;
  margin: 0;
}

#gamegrid_shadow {
  position: absolute;
  top: $grid-shadow-position; left: $grid-shadow-position;
  background: rgba(102, 102, 102, 0.6);
  height: $grid-shadow-size;
  width: $grid-shadow-size;
  border: 10px solid $color-back;
  box-shadow: inset 0 0 $grid-shadow-blur $grid-shadow-length $color-back;
  opacity: 0;
  animation: shadow_placement 2s ease-out forwards;
  &::after {
    content: "";
    position: absolute;
    width: 98%;
    height: 98%;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid $color-back;
  }
}

#gamegrid {
  opacity: 0;
  animation: grid_placement 2s ease-out forwards;
}

.gamegrid__item__content {
  transform: rotateZ(-45deg) rotateX(0deg) scaleX(0.6);
  width: 48px;
  height: 48px;
  &--block {
    position: absolute;
    top: -10px; left: 50%;
    transform: translateX(-50%);
    width: $grid-tile-block-size;
  }
  &--gameitem {
    position: absolute;
    top: -20px; left: 50%;
    transform: translateX(-50%);
    width: $grid-tile-gameitem-size;
    opacity: 0;
    animation: item_placement 1.4s ease-out forwards;
  }
}

.floor .player {
  position: absolute;
  z-index: 1;
  width: 48px;
  height: 48px;
  border-radius: 3px;
  transform-style: preserve-3d;
  transition: all 250ms;
  opacity: 1;
  transform-style: flat;
  border-radius: 3px;
  box-sizing: border-box;
  border: 2px solid red;
}

.floor .player div {
  position: absolute;
  width: 48px;
  height: 48px;
  transform-style: preserve-3d;
  background: rgba(255, 255, 255, 0.5);
  z-index: 100;
}

@keyframes block_placement {
  0% {
    transform: translateY(-$grid-size) translateX(-50%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
}

@keyframes item_placement {
  0% {
    transform: translateY(-$grid-size) translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
}

@keyframes grid_placement {
  0% {
    transform: translateY(-100%) translateX(-100%);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes shadow_placement {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}