@import url('https://fonts.googleapis.com/css?family=Leckerli+One|Montserrat:500|Roboto');

$color-primary: #4CAF50;
$color-back: #f5f5f5;

$color-table: #9D7552;
$color-table-inside: #563217;
$color-table-inside-border: #6f4829;
$color-table-stroke: #333333;

// Grid Sizes
$tile-size: 48;
$tile-number: 12;
$tile-spacing: 10;

$max-size: $tile-size * $tile-number;
$grid-size: $max-size + 0px;

$grid-tile-size: $tile-size + 0px;
$grid-tile-block-size: (($tile-size * 2) + $tile-spacing) + 0px;
$grid-tile-gameitem-size: (($tile-size * 1) + $tile-spacing) + 0px;

$grid-table-size: (($max-size * 2) - $tile-size) + 0px;
$grid-table-top: (-($tile-size / 2 - 12)) + 0px;
$grid-table-left: (-$tile-size) + 0px;
$grid-table-rotation: 0deg;
$grid-table-mask-spacing: $tile-size + 0px;
$grid-table-mask-width: (($max-size - $tile-size) + 12) + 0px;
$grid-table-mask-border-width: ($tile-size - 14) + 0px;

html {
  font-size: 10px;
  color: #ccc;
  background: $color-back;
}

body {
  padding: 0; margin: 0; 
  font-family: 'Roboto', sans-serif;
  font-family: monospace;
  font-size: 13pt;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  position: absolute;
  width: $grid-size;
  height: $grid-size;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.isometric_table {
  position: absolute;
  width: $grid-table-size;
  height: $grid-table-size;
  top: $grid-table-top;
  left: 50%;
  transform: rotate($grid-table-rotation) translateX(-50%);
}

.floor {
  position: relative;
  transform: rotateX(55deg) rotateZ(45deg);
  font-size: 0;
  &::after {
    content: "";
    position: absolute;
    bottom: -$grid-table-mask-spacing; left: 50%;
    transform: translateX(-50%);
    width: 120%; height: $grid-tile-size;
    background-color: $color-table;
    z-index: 10;
  }
  &::before {
    content: "";
    position: absolute;
    top: 50%; right: -$grid-table-mask-spacing; 
    transform: translateY(-50%);
    width: $grid-tile-size; height: 120%;
    background-color: $color-table;
    z-index: 10;
  }
  .gamegrid-table-mask {
    position: absolute;
    bottom: 0%; right: 0%;
    width: $grid-table-mask-width; height: $grid-table-mask-width;
    background-color: $color-table-inside;
    border-top: $grid-table-mask-border-width solid $color-table-inside-border;
    border-left: $grid-table-mask-border-width solid $color-table-inside-border;
    outline: 2px solid $color-table-stroke;
    &::after {
      content: "";
      position: absolute;
      bottom: 0%; right: 0%;
      width: $grid-table-mask-width; height: $grid-table-mask-width;
      border-top: 2px solid #111111;
      border-left: 2px solid #111111;
    }
  }
}

.floor .gamegrid__item {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: $grid-tile-size;
  height: $grid-tile-size;
  line-height: $grid-tile-size;
  text-align: center;
  vertical-align: top;
  margin: 0;
}

#gamegrid_table {
  position: absolute;
  top: $grid-table-mask-border-width; left: $grid-table-mask-border-width;
  width: 100%; height: 100%;
  .gamegrid__item {  
    box-shadow: inset 0px 0px 10px rgba(133, 100, 69, 0.5);
  }
}

.gamegrid__item__content {
  transform: rotateZ(-45deg) rotateX(0deg) scaleX(0.6);
  width: 48px;
  height: 48px;
  &--block {
    position: absolute;
    top: -10px; left: 50%;
    transform: translateX(-50%);
    width: $grid-tile-block-size;
    opacity: 0;
    animation: block_placement 1.4s ease-out forwards;
  }
  &--gameitem {
    position: absolute;
    top: -20px; left: 50%;
    transform: translateX(-50%);
    width: $grid-tile-gameitem-size;
    opacity: 0;
    animation: item_placement 1s 1s ease-out forwards;
  }
}

.environnement {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  .ground {
    position: absolute;
    top: 50%; left: 0%;
    transform: translate(-0%, -50%) rotateX(55deg) rotateZ(45deg);
    width: 100vw; height: 1000vh;
    background-color: #835e4a;
    background-image: linear-gradient(transparent 50%, rgba(255,255,255,.05) 50%);
    background-size: 300px 300px;
    border: 50px solid #644230;
  }
  .wall {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw; height: 100vh;
    background: #333333;
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.1) 50%);    
    background-size: 300px 300px;
  }
}
.floor .player {
  position: absolute;
  z-index: 1;
  width: 48px;
  height: 48px;
  border-radius: 3px;
  transform-style: preserve-3d;
  transition: all 250ms;
  opacity: 1;
  transform-style: flat;
  border-radius: 3px;
  box-sizing: border-box;
  border: 2px solid red;
}

.floor .player div {
  position: absolute;
  width: 48px;
  height: 48px;
  transform-style: preserve-3d;
  background: rgba(255, 255, 255, 0.5);
  z-index: 100;
}

@keyframes block_placement {
  0% {
    transform: translateY(-$grid-size) translateX(-50%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
}

@keyframes item_placement {
  0% {
    transform: translateY(-$grid-size) translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
}