@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&display=swap');

$color-primary: #7e57c2;
$color-back: #e2e1e0;

$color-table: #9D7552;
$color-table-inside: #563217;
$color-table-inside-border: #6f4829;
$color-table-stroke: #333333;

$color-player-1: #1e88e5;
$color-player-2: #f44336;

$color-player-1-fade: hsla(208, 79%, 51%, 0.2);
$color-player-2-fade: hsla(4, 90%, 58%, 0.2);

// Grid Sizes
$tile-size: 48;
$tile-number: 12;
$tile-spacing: 12;

$max-size: $tile-size * $tile-number;
$grid-size: $max-size + 0px;

$grid-tile-size: $tile-size + 0px;
$grid-tile-block-size: (($tile-size * 2) + $tile-spacing) + 0px;
$grid-tile-gameitem-size: (($tile-size * 1) + $tile-spacing) + 0px;

$grid-max-size: $max-size + 0px;
$grid-shadow-size: ($max-size * 1.1) + 0px;
$grid-shadow-position: ($max-size / 3.5) + 0px;
$grid-shadow-length: (($max-size / 2) / 4) + 0px;
$grid-shadow-blur: (($max-size / 2) / 6) + 0px;

$monster-one-size: 0.7;
$monster-one-position: -($tile-size * 2.8) + 0px;

$monster-two-size: 0.7;
$monster-two-position: -($tile-size * 2.4) + 0px;

$monster-three-size: 0.7;
$monster-three-position: -($tile-size * 6.3) + 0px;

$monster-three-position--modified:  -($tile-size * 6.7) + 0px;

html {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: $color-back;
}

body {
  padding: 0; margin: 0; 
  font-size: 1rem;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* --- Icons colors --- */
i {
  &.fa-heart {
    color: #f44336;
  }
  &.fa-shoe-prints {
    color: #66bb6a;
  }
  &.fa-bolt {
    color: #ff9800;
  }
  &.fa-shield-alt {
    color: #1e88e5;
  }
}

.view {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-back;
  &#homemenu-interface {
    &::before {
      content: "";
      position: absolute;
      top: 0%; right: 0%;
      width: 500px; height: 100%;
      background-color: #333;
    }
  }
  &#game-interface {
    display: none;
  }
  &#character-selection-interface {
    display: none;
  }
}

.wrapper {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

.grid-wrapper {
  position: absolute;
  width: $grid-size;
  height: $grid-size;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.floor {
  position: relative;
  transform: rotateX(55deg) rotateZ(45deg);
  font-size: 0;
}

.floor .gamegrid__cell {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: $grid-tile-size;
  height: $grid-tile-size;
  line-height: $grid-tile-size;
  text-align: center;
  vertical-align: top;
  margin: 0;
  &.gamegrid__cell--reachable {
    &::after {
      content: "";
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
      width: 100%; height: 100%;
      background-color: rgba(255, 166, 0, 0.4);
    }
    &:hover {
      &::after {
        background-color: rgba(255, 166, 0, 0.8);
      }
    }
  }
}

#gamegrid_shadow {
  position: absolute;
  top: $grid-shadow-position; left: $grid-shadow-position;
  background: rgba(102, 102, 102, 0.6);
  height: $grid-shadow-size;
  width: $grid-shadow-size;
  border: 10px solid $color-back;
  box-shadow: inset 0 0 $grid-shadow-blur $grid-shadow-length $color-back;
  opacity: 0;
  animation: shadow_placement 2s ease-out forwards;
  &::after {
    content: "";
    position: absolute;
    width: 98%;
    height: 98%;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 50px solid $color-back;
  }
}

#gamegrid {
  pointer-events: none;
  opacity: 0;
  animation: grid_placement 2s ease-out forwards;
}

#movementgrid {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: $grid-max-size;
  height: $grid-max-size;
}

.gamegrid__cell__content {
  pointer-events: none;
  transform: rotateZ(-45deg) rotateX(0deg) scaleX(0.6);
  width: $grid-tile-size;
  height: $grid-tile-size;
  &--block {
    position: absolute;
    top: -10px; left: 50%;
    transform: translateX(-50%);
    width: $grid-tile-block-size;
  }
  &--gameitem {
    position: absolute;
    top: -20px; left: 50%;
    transform: translateX(-50%);
    width: $grid-tile-gameitem-size;
    opacity: 0;
    animation: item_placement 1.4s ease-out forwards;
  }
}

.floor #players {
  pointer-events: none;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: $grid-max-size;
  height: $grid-max-size;
  opacity: 0;
  animation: player_placement 1.4s 2s ease-out forwards;
}
.players {
  &__player {
    position: absolute;
    top: 0; left: 0;
    pointer-events: none;
    transform: rotateZ(-45deg) rotateX(0deg) scaleX(0.6);
    width: $grid-tile-size;
    height: $grid-tile-size;
    &--inverted {
      transform: rotateZ(-45deg) rotateX(0deg) scaleX(0.6) scaleX(-1);
    }
    &__sprite {
      position: absolute;
      top: $monster-one-position; left: 50%;
      transform: translateX(-50%);
      z-index: 20;
      &--level-1 {
        top: $monster-one-position;
        transform: translateX(-50%) scale($monster-one-size);
      }
      &--level-2 {
        top: $monster-two-position;
        transform: translateX(-50%) scale($monster-two-size);
      }
      &--level-3 {
        top: $monster-three-position;
        transform: translateX(-50%) scale($monster-three-size);
      }
      &--level-3--modified {
        left: 46%;
        top: $monster-three-position--modified;
        transform: translateX(-50%) scale($monster-three-size);
      }
    }
  }
}

/* --- Game interface --- */

.character-choice-wrapper {
  position: absolute;
  top: 100px; left: 50%;
  transform: translateX(-50%);
  .character-choice-cards-title {
    position: absolute;
    top: -100px; left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    color: $color-back;
    background-color: #333;
    width: 100vw;
  }
}

.pattern-choice-wrapper {
  position: absolute;
  top: 100px; left: 50%;
  transform: translateX(-50%);
  .pattern-choice-cards-title {
    position: absolute;
    top: -100px; left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    color: $color-back;
    background-color: #333;
    width: 100vw;
  }
}

.character-choice-cards {
  display: flex;
  justify-content: space-between;
  &__card {
    padding-top: 20px;
    margin: 0 20px;
    width: 300px;
    background-color: #eee;
    &__background {
      position: relative;
      height: 300px;
      width: 300px;
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: 200px;
      &__sprite {
        position: absolute;
        bottom: -50px;
        left: calc(50% + 0px);
        transform: translateX(-50%);
        border: none;
      }
    }
    &__title {
      margin: 20px 0;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      text-align: center;
      color: #333;
    }
    &__description {
      margin: 0 0 20px 0;
      padding: 0 10px;
      text-align: center;
      color: #333;
    }
    .properties {
      display: flex;
      justify-content: space-between;
      margin: 0 10% 20px 10%;
      padding: 0;
      list-style: none;
      li {
        font-size: 20px;
        margin: 5px;
        text-align: center;
        i {
          font-size: 22px;
        }
        span {
          display: block;
          padding: 5px 0;
          font-weight: 500;
        }
      }
    }
    &__item {
      display: flex;
      background-color: #494949;
      color: #fff;
      &__image {
        padding: 0 0 0 10px;
        img {
          width: 90px;
        }
      }
      &__content {
        margin: 20px 0px;
        h4 {
          margin: 0px 0 10px 0;
          font-weight: 400;
        }
        ul.properties {
          justify-content: left;
          margin: 0;
          li {
            margin: 0 5px 0 0;
            i {
              margin: 0 0 0 5px;
              display: inline-block;
            }
            span {
              font-size: 18px;
              display: inline-block;
            }
          }
        }
      }
    }
    &__choices {
      display: flex;
      justify-content: space-between;
      &__choice {
        color: #888;
        width: 50%;
        text-align: center;
        padding: 20px 20px;
        text-align: center;
        cursor: pointer;
        border: 4px solid transparent;
        &--player1 {
          &:hover {
            border: 4px solid $color-player-1;
          }
          &--selected {
            color: #fff;
            font-weight: 500;
            border: 4px solid $color-player-1;
            background-color: $color-player-1;
          }
        }
        &--player2 {
          &:hover {
            border: 4px solid $color-player-2;
          }
          &--selected {
            color: #fff;
            font-weight: 500;
            border: 4px solid $color-player-2;
            background-color: $color-player-2;
          }
        }
      }
    }
  }
}

.character-choice-validation {
  margin-top: 40px;
  position: relative;
  left: 50%; transform: translateX(-50%);
  width: fit-content;
  padding: 20px 30px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  background-color: $color-back;
  color: #333;
  border: 4px solid #333;
  cursor: pointer;
  &:hover {
    color: $color-back;
    background-color: #333;
  }
}

.pattern-choice-cards {
  display: flex;
  justify-content: space-between;
  &__card {
    margin: 20px 20px 0 20px;
    width: 300px;
    background-color: #eee;
    &__background {
      position: relative;
      height: 300px;
      width: 300px;
      overflow: hidden;
      background-color: #e2e1e0;
      box-sizing: border-box;
      &__pattern {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        width: 90%; 
      }
    }
    &__title {
      margin: 40px 0 20px 0;
      text-transform: uppercase;
      text-align: center;
      color: #333;
    }
    &__description {
      margin: 0 0 20px 0;
      padding: 0 10px;
      text-align: center;
      color: #333;
    }
    &__blocks-title {
      margin: 20px 0;
      font-weight: 400;
      font-size: 1rem;
      text-transform: uppercase;
      text-align: center;
      color: #333;
    }
    &__blocks {
      display: flex;
      justify-content: space-between;
      margin: 0 10% 20px 10%;
      padding: 0;
      list-style: none;
      &__block {
        position: relative;
        margin: 5px;
        text-align: center;
        cursor: pointer;
        &::before {
          content: "";
          position: absolute;
          top: calc(50% - 4px); left: 50%;
          transform: translate(-50%, -50%);
          width: 70px; height: 70px;
          border: 2px solid transparent;
          border-radius: 50%;
          transition: 400ms;
        }
        &:hover { 
          &::before {
            border-color: #555;
            border-radius: 5px;
          }
        }
        &--selected {
          &::before {
            border-color: #555;
            border-radius: 5px;
          }
        }
        img {
          width: 50px;
        }
      }
    }
  }
}

.pattern-choice-validation {
  margin-top: 40px;
  position: relative;
  left: 50%; transform: translateX(-50%);
  width: fit-content;
  padding: 20px 30px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  background-color: $color-back;
  color: #333;
  border: 4px solid #333;
  cursor: pointer;
  &:hover {
    color: $color-back;
    background-color: #333;
  }
}

.players-cards {
  position: absolute;
  top: 0; left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  &__card {
    padding-top: 20px;
    margin: 20px;
    width: 300px;
    background-color: #eee;
    &__background {
      position: relative;
      height: 100px;
      width: 300px;
      &__sprite {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%) scale(0.5);
        border: none;
        animation-play-state: paused !important;
        &:hover {
          animation-play-state: running !important;
        }
      }
    }
    &__title {
      margin: 20px 0;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      text-align: center;
      color: #333;
    }
    .properties {
      display: flex;
      justify-content: space-between;
      margin: 0 10% 20px 10%;
      padding: 0;
      list-style: none;
      li {
        font-size: 20px;
        margin: 5px;
        text-align: center;
        i {
          font-size: 22px;
        }
        span {
          display: block;
          padding: 5px 0;
          font-weight: 500;
        }
      }
    }
    &__item {
      display: flex;
      background-color: #494949;
      color: #fff;
      &__image {
        padding: 0 0 0 10px;
        img {
          width: 90px;
        }
      }
      &__content {
        margin: 20px 0px;
        h4 {
          margin: 0px 0 10px 0;
          font-weight: 400;
        }
        ul.properties {
          justify-content: left;
          margin: 0;
          li {
            margin: 0 5px 0 0;
            i {
              margin: 0 0 0 5px;
              display: inline-block;
            }
            span {
              font-size: 18px;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

.homemenu {
  position: relative;
  width: 100vw; height: 100vh;
  &__title {
    position: absolute;
    top: 40%; right: 208px;
    transform: translateY(-40%);
    text-transform: uppercase;
    margin: 0; padding: 0;
    font-size: 100px;
    span:nth-child(1) {
      color: #333;
    }
    span:nth-child(2) {
      color: $color-back;
      letter-spacing: 8px;
    }
  }
  &__start {
    position: absolute;
    top: 60%; right: 220px;
    transform: translateY(-60%);
    text-transform: uppercase;
    margin: 0; padding: 20px 40px;
    border: 5px solid $color-back;
    color: $color-back;
    font-weight: 500;
    cursor: pointer;
    &:hover {
      background-color: $color-back;
      color: #333;
    }
  }
}

#game-fight-indicator {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  margin: 0; padding: 0;
  font-size: 200px;
  font-weight: 700;
  letter-spacing: 10px;
  &.animate {
    animation: fight_indicator 2s ease-out;
  }
}

.game-bar {
  position: absolute;
  bottom: 0%; left: 50%;
  transform: translateX(-50%);
  width: 50%; padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  background-color: #333333;
  color: #FFFFFF;
  &__player-name {
    font-weight: 500;
    text-transform: uppercase;
  }
  &__controls {
    &__button {
      padding: 10px 20px;
      margin-left: 10px;
      border: 2px solid #333;
      font-weight: 500;
      text-transform: uppercase;
      cursor: pointer;
      color: #dddddd;
      &:nth-child(1) {
        border-color: #ff9800;
        &:hover {
          i {
            color: #FFFFFF !important;
          }
          color: #FFFFFF !important;
          background-color: #ff9800;
        }
      }
      &:nth-child(2) {
        border-color: #1e88e5;
        &:hover {
          i {
            color: #FFFFFF !important;
          }
          color: #FFFFFF !important;
          background-color: #1e88e5;
        }
      }
      &:nth-child(3) {
        i {
          color: $color-primary;
        }
        border-color: $color-primary;
        &:hover {
          i {
            color: #FFFFFF !important;
          }
          color: #FFFFFF !important;
          background-color: $color-primary;
        }
      }
    }
  }
}

@keyframes fight_indicator {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0;
  }
}

@keyframes block_placement {
  0% {
    transform: translateY(-$grid-size) translateX(-50%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
}

@keyframes item_placement {
  0% {
    transform: translateY(-$grid-size) translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
}

@keyframes player_placement {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes grid_placement {
  0% {
    transform: translateY(-100%) translateX(-100%);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes shadow_placement {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/**
  Sprites Animations
*/
@keyframes animate_sprite_24_level_1 {
  to {
    background-position: -4800px 0;
  }
}

@keyframes animate_sprite_24_level_2 {
  to {
    background-position: -4848px 0;
  }
}

@keyframes animate_sprite_24_level_3 {
  to {
    background-position: -7032px 0;
  }
}

@keyframes animate_sprite_24_level_3_modified {
  to {
    background-position: -7056px 0;
  }
}


